

.bg-image-blured
{
    background-image: url("https://i.pinimg.com/originals/ce/72/6e/ce726e137bb7c9baf23ed88abeb7eb9c.jpg");
    
    /* Add the blur effect */
    filter: blur(4px);

    height: 1080px;
    width: 100%;
    border: none;
}

.bg-image
{
    background-image: url("https://i.pinimg.com/originals/ce/72/6e/ce726e137bb7c9baf23ed88abeb7eb9c.jpg");
    height: 1080px;
    width: 100%;
}

.logoLabel
{
    font-size: 30px;
    margin-bottom: 50px;
    color: white;

}

.inputUsername
{
    border-radius: 10px;
    height: 50px;
    width: 300px;
    border: none;
    background-color: rgb(233, 233, 233);
    font-size: 25px;
    padding-left: 10px;
    font-weight: 600;
    transition: box-shadow 0.3s ease-in-out;

}


.inputUsername:focus, input:focus
{
    outline: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.startButton
{
    margin-top: 10px;
    border: none;
    height:40px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    color: white;
    background-color: rgb(5, 150, 0);
    backdrop-filter: blur(40px);
      opacity: 60%;
}

.startButton:hover
{
    background-color: rgb(6, 187, 0);
    color: white;
    backdrop-filter: blur(40px);
      opacity: 100%;
    
}

.startButton:focus, input:focus
{
    outline: none;
    border: none;
    outline: none;
}

.gameStartFourm
{
    top: 50%;
    position: absolute;
    left: 40%;
    transform: translateY(-50%);

}

.errText
{
    color: red;
    font-size: 13px;
}

.leaderboardbutton
{
    margin-right: 0px;
    font-size: 25px;
    height: 50px;
    width: 200px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: white;
    
}

.leaderboardbutton:hover
{
    color: #ffee00;
    

}

.leaderboardbutton:focus, input:focus
{
    outline: none;
    border: none;
    outline: none;
}

.leaderboardScreen
{
    top: 20%;
    position: absolute;
    left: 30%;
}

.leaderboardTitle
{
    color: white;
    font-size: 45px;
}

.leaderboardLabel
{
    color: white;
    font-size: 30px;

}

.leaderboardData
{
    color: white;
    font-size: 20px;

}

.ctScn-Bg
{
    background-color: black;
}

.ctScn-Text
{
    background-color: black;
    color: white;
    font-size: 45px;
}

.ctScn-Center
{
    top: 50%;
    position: absolute;
}

.arrow-placement
{
    top: 70%;
    position: absolute;
}

.ctScn-Center1
{
    top: 130%;
    position: absolute;
}

.arrow-placement1
{
    top: 160%;
    position: absolute;
}

.ctScn-Center2
{
    top: 220%;
    position: absolute;
}

.arrow-placement2
{
    top: 260%;
    position: absolute;
}

.ctScn-Center3
{
    top: 320%;
    position: absolute;
}

.arrow-placement3
{
    top: 360%;
    position: absolute;
}

.ctScn-Center4
{
    top: 425%;
    position: absolute;
}

.arrow-placement4
{
    top: 460%;
    position: absolute;
}

.ctScn-Center5
{
    top: 510%;
    position: absolute;
}

.arrow-placement5
{
    top: 540%;
    position: absolute;
}

.ctScn-Center6
{
    top: 600%;
    position: absolute;
}

.start-journey-btn
{
    top: 630%;
    color: white;
    height: 70px;
    width: 300px;
    background-color: transparent;
    font-size: 30px;
    position: absolute;
    border-radius: 20px;
    transition:background-color 0.9s ease-in-out;
}

.start-journey-btn:hover
{
    color: black;
    background-color: whitesmoke;
}

.start-journey-btn:focus, input:focus
{
    outline: none;
}
