

.bg-image-blured
{
    background-image: url("https://i.pinimg.com/originals/ce/72/6e/ce726e137bb7c9baf23ed88abeb7eb9c.jpg");
    
    /* Add the blur effect */
    filter: blur(10px);
    -webkit-filter: blur(10px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 1080px;
    width: 100%;
}

.bg-image
{
    background-image: url("https://i.pinimg.com/originals/ce/72/6e/ce726e137bb7c9baf23ed88abeb7eb9c.jpg");
    height: 1080px;
    width: 100%;
}

.logoLabel
{
    font-size: 30px;
    margin-bottom: 50px;
    color: white;

}

.inputUsername
{
    border-radius: 10px;
    height: 50px;
    width: 300px;
    border: none;
    background-color: rgb(233, 233, 233);
    font-size: 25px;
    padding-left: 10px;
    font-weight: 600;
    transition: box-shadow 0.3s ease-in-out;

}


.inputUsername:focus, input:focus
{
    outline: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.startButton
{
    margin-top: 10px;
    border: none;
    height:40px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    color: white;
    background-color: rgb(5, 150, 0);
    backdrop-filter: blur(40px);
      opacity: 60%;
}

.startButton:hover
{
    background-color: rgb(6, 187, 0);
    color: white;
    backdrop-filter: blur(40px);
      opacity: 100%;
    
}

.startButton:focus, input:focus
{
    outline: none;
    border: none;
    outline: none;
}

.gameStartFourm
{
    top: 50%;
    position: absolute;
    left: 40%;
    transform: translateY(-50%);

}

.errText
{
    color: red;
    font-size: 13px;
}

.leaderboardbutton
{
    margin-right: 0px;
    font-size: 25px;
    height: 50px;
    width: 200px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: white;
    
}

.leaderboardbutton:hover
{
    color: #ffee00;
    

}

.leaderboardbutton:focus, input:focus
{
    outline: none;
    border: none;
    outline: none;
}

